*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100vh;
  z-index: 9999;
}
.block-effect {
  width: 100%;
  font-size: calc(8px + 6vw);
  text-align: center;
}

.block-reveal {
  --t: calc(var(--td) + var(--d));

  color: transparent;
  padding: 4px;
  text-align: center;
  position: relative;
  overflow: hidden;

  animation: revealBlock 0s var(--t) forwards;
}

.block-reveal::after {
  content: '';

  width: 0%;
  height: 100%;
  padding-bottom: 4px;

  position: absolute;
  top: 0;
  left: 0;

  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}


/* animations */
@keyframes revealBlock {
  100% {
    color: white;
  }
}

@keyframes revealingIn {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes revealingOut {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }

}
@keyframes splash {
  from{
      top:0;
  }
  to{
      top: -100vh;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #343F4F;
}
.wrapper{
  display: block;
}
.wrapper .static-txt{
  text-align: center;
  color: #000;
  font-size: 60px;
  font-weight: 400;
  padding: 5px;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #2dfff5;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 9s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
  padding: 5px;
  text-align: center;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  text-align: center;
  left: 0;
  height: 100%;
  width: 100%;
  background: #F5FEFD;
  border-left: 2px solid #2dfff5;
  animation: typing 2.25s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}
@media (max-width:992px){
  .wrapper .static-txt{
    font-size: 25px;
  }
  .dynamic-txts li{
    font-size: 25px;
  }
  .wrapper .dynamic-txts{
    height: 45px;
    line-height: 45px;
  }
  .dynamic-txts li span{
    line-height: 45px;
  }
}